<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
</head>

<body>
    <%
       // ejs 스크립트 렛 : 자바스크립트 문법 사용 가능.
        console.dir(data);
    %>
	<h1><%=data.title %></h1>
	<h2><%=data.name %>의 홈페이지</h2>

    <p><a href="/">뒤로 가기</p>
</body>

</html>
