<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
</head>

<body>
    <%
       // ejs 스크립트 렛 : 자바스크립트 문법 사용 가능.
        console.dir(data);
    %>
	<h1><%=data.title %></h1>
	<h2><%=data.name %></h2>
	<h3>제목 3</h3>
	<p>단락 1</p>
	<p>단락 2</p>

</body>

</html>
